[submodule "Cheat Sheets"]
	path = Cheat Sheets
	url = https://github.com/IlliumIv/Cheat-Sheets.git
[submodule "AutoSkill"]
	path = AutoSkill
	url = https://github.com/IlliumIv/AutoSkill.git
[submodule "BasicFlaskRoutine"]
	path = BasicFlaskRoutine
	url = https://github.com/IlliumIv/BasicFlaskRoutine.git
[submodule "FullRareSetManager"]
	path = FullRareSetManager
	url = https://github.com/IlliumIv/FullRareSetManager.git
[submodule "Random Features"]
	path = Random Features
	url = https://github.com/IlliumIv/Random-Features.git
[submodule "Tradie"]
	path = Tradie
	url = https://github.com/IlliumIv/Tradie.git
[submodule "Get-Chaos-Value"]
	path = Get-Chaos-Value
	url = https://github.com/IlliumIv/Get-Chaos-Value.git
[submodule "Delve"]
	path = Delve
	url = https://github.com/IlliumIv/Delve.git
[submodule "ScourgeArrowCharges"]
	path = ScourgeArrowCharges
	url = https://github.com/IlliumIv/ScourgeArrowCharges.git
[submodule "BladeFlurryCharges"]
	path = BladeFlurryCharges
	url = https://github.com/IlliumIv/BladeFlurryCharges.git
[submodule "FollowMe"]
	path = FollowMe
	url = https://github.com/IlliumIv/FollowMe.git
[submodule "IconsBuilder"]
	path = IconsBuilder
	url = https://github.com/IlliumIv/IconsBuilder.git
[submodule "AutoOpen"]
	path = AutoOpen
	url = https://github.com/IlliumIv/AutoOpen.git
[submodule "BuffUtil"]
	path = BuffUtil
	url = https://github.com/IlliumIv/BuffUtil.git
[submodule "PassiveSkillTreePlanter"]
	path = PassiveSkillTreePlanter
	url = https://github.com/IlliumIv/PassiveSkillTreePlanter.git
[submodule "Pickit"]
	path = Pickit
	url = https://github.com/IlliumIv/Pickit.git
[submodule "Stashie"]
	path = Stashie
	url = https://github.com/IlliumIv/Stashie.git
[submodule "AutoQuit"]
	path = AutoQuit
	url = https://github.com/IlliumIv/AutoQuit.git
[submodule "MineDetonator"]
	path = MineDetonator
	url = https://github.com/IlliumIv/MineDetonator.git
[submodule "HealthBars"]
	path = HealthBars
	url = https://github.com/IlliumIv/HealthBars.git
