[submodule "AutoSkill"]
	path = AutoSkill
	url = https://github.com/IlliumIv/AutoSkill.git
[submodule "BasicFlaskRoutine"]
	path = BasicFlaskRoutine
	url = https://github.com/IlliumIv/BasicFlaskRoutine.git
[submodule "FullRareSetManager"]
	path = FullRareSetManager
	url = https://github.com/IlliumIv/FullRareSetManager.git
[submodule "Random Features"]
	path = Random Features
	url = https://github.com/IlliumIv/Random-Features.git
[submodule "Tradie"]
	path = Tradie
	url = https://github.com/IlliumIv/Tradie.git
[submodule "Get-Chaos-Value"]
	path = Get-Chaos-Value
	url = https://github.com/IlliumIv/Get-Chaos-Value.git
[submodule "Delve"]
	path = Delve
	url = https://github.com/IlliumIv/Delve.git
[submodule "ScourgeArrowCharges"]
	path = ScourgeArrowCharges
	url = https://github.com/IlliumIv/ScourgeArrowCharges.git
[submodule "BladeFlurryCharges"]
	path = BladeFlurryCharges
	url = https://github.com/IlliumIv/BladeFlurryCharges.git
[submodule "DeliriumSpawnerHighlight"]
	path = DeliriumSpawnerHighlight
	url = https://github.com/IlliumIv/DeliriumSpawnerHighlight.git
[submodule "AdvancedUberLabLayout"]
	path = AdvancedUberLabLayout
	url = https://github.com/IlliumIv/AdvancedUberLabLayout.git
[submodule "PreloadAlert"]
	path = PreloadAlert
	url = https://github.com/IlliumIv/PreloadAlert.git
[submodule "Stashie"]
	path = Stashie
	url = https://github.com/IlliumIv/Stashie.git
